*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #d2d2d2;
}
#facebook-login-section{
    width: 50%;
    height: 500px;
    text-align: center;
    margin-left: 260px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
}
h1{
    color: #0048ff;
    font-size: 45px;
    padding-top: 20px;
}
h3{
    color: #393939;
    font-size: 30px;
}
.checkbox{
    width: 65%;
    height: 25px;
}
#btn{
    width: 65%;
    height: 30px;
    background-color: #0048ff;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#Checkbox-left{
    float: left;
    margin-left: 90px;
}
#Checkbox-right{
    float: left;
    margin-left: 5px;
}
#forget-pass{
    color: #2761f3;
    cursor: pointer;
}
hr{
    margin-top: 30px;
    width: 80%;
    margin-left: 50px;
}
#white-bg-color{
    width: 40px;
    height: 10px;
    background-color: white;
    margin-top: -10px;
    margin-left: 233px;
}
h4{
    font-weight: 400;
    margin-top: 20px;
}